<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- CONFIGURING THE DEPENDANT BEAN -->
	<bean id='bDart' class='in.reethu.bean.BlueDart' />
	<bean id='courier' class='in.reethu.bean.DTDC' />
	<bean id='fFlight' class='in.reethu.bean.FirstFlight' primary='true' />


		<!-- CONFIGURING THE TARGET BEAN -->
	<bean id='fpkt' class='in.reethu.bean.Flipkart' autowire="constructor" />

</beans>